*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
  word-break: break-word;

}

*:focus {
  outline-color: $white;
}

html,
body {
  min-height: 100%;
}

body {
  background: $gray-dark;
  background: radial-gradient(50% 50% at 50% 50%, $gray 0%, $gray-dark 100%);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 16px;
  color: $white;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.v-enter-active,
.v-leave-active {
  transition: opacity $time;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

[v-cloak] {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: unset !important;
    animation: none !important;
  }
}
